<img src="/img/gouda4palestine.jpg" alt="Logo van goud4palestine: een illustratie van een schijf watermeloen, met daarboven de tekst 'Gouda4Palestine'">
<img src="/img/zaankanters4palestine.jpg" alt="Logo van Zaankanters voor Palestina: een gestileerde Palestijnse vlag met daarop wuivend de woorden 'Zaankanters voor Palestina'">
<img src="/img/xr-justice-now.jpg" alt="Logo van XR Justice Now!: een lijntekening van een geheven vuist, middenin een groen Extinction Rebellion-logo, te weten een schematische zandloper in een cirkel">
