<img src="/img/alkmaar-voor-palestina.jpg" alt="Logo van Alkmaar voor Palestina: Grafische weergave van een persoon in zwart-wit met een keffiyeh op het hoofd, die een gekleurde Palestijnse vlag ophoudt en twee vingers opsteekt in V-vorm.">
<img src="/img/den-bosch-4-palestine.jpg" alt="Logo van den.bosch4palestine: Een Palestijnse vlag met daarop de tekst 'Den Bosch 4 Palestine'">
<img src="/img/gouda4palestine.jpg" alt="Logo van goud4palestine: een illustratie van een schijf watermeloen, met daarboven de tekst 'Gouda4Palestine'">
<img src="/img/leiden-for-palestine.jpg" alt="Logo van Leiden for Palestine: De tekst 'Leiden for Palestine' tegen de achtergrond van het patroon van een keffiyeh in rood en zwart.">
<img src="/img/palestina-cafe-utrecht.jpg" alt="Logo van Palestine Cafe Utrecht: Een donkerrode achtergrond met daarop de tekst 'Palestine Cafe Utrecht'.">
<img src="/img/zaankanters4palestine.jpg" alt="Logo van Zaankanters voor Palestina: een gestileerde Palestijnse vlag met daarop wuivend de woorden 'Zaankanters voor Palestina'">
<img src="/img/xr-justice-now.jpg" alt="Logo van XR Justice Now!: een lijntekening van een geheven vuist, middenin een groen Extinction Rebellion-logo, te weten een schematische zandloper in een cirkel">
