<p>You can download the image of the liberation poster—a red raised fist with on the wrist and arm the text (in Dutch) 'Niemand is vrij totdat Palestina vrij is'—here, for example to print yourself.</p>
<p>Download the poster: <a href="/img/bevrijdingsposter.png">PNG</a> (7 MB) | <a href="/img/bevrijdingsposter.tif">TIF</a> (69,6 MB)</p>

<p><img src="/img/bevrijdingsposter.jpg" alt="A red raised first against a dark green-black background. On the wrist and arm it's written in white letters (in Dutch): 'Niemand is vrij, totdat Palestina vrij is'"></p>
