<ul class="logos">
    <li class="logos"><a href="https://www.instagram.com/alkmaarvoorpalestina/"><img class="logos" src="/img/alkmaar-voor-palestina.jpg" alt="Logo van Alkmaar voor Palestina: Grafische weergave van een persoon in zwart-wit met een keffiyeh op het hoofd, die een gekleurde Palestijnse vlag ophoudt en twee vingers opsteekt in V-vorm."></a></li>
    <li class="logos"><a href="https://www.instagram.com/den.bosch4palestine/"><img class="logos" src="/img/den-bosch-4-palestine.jpg" alt="Logo van den.bosch4palestine: Een Palestijnse vlag met daarop de tekst 'Den Bosch 4 Palestine'"></a></li>
    <li class="logos"><a href="https://www.instagram.com/gouda4palestine/"><img class="logos" src="/img/gouda4palestine.jpg" alt="Logo van goud4palestine: een illustratie van een schijf watermeloen, met daarboven de tekst 'Gouda4Palestine'"></a></li>
    <li class="logos"><a href="https://www.instagram.com/leidenforpalestine/"><img class="logos" src="/img/leiden-for-palestine.jpg" alt="Logo van Leiden for Palestine: De tekst 'Leiden for Palestine' tegen de achtergrond van het patroon van een keffiyeh in rood en zwart."></a></li>
    <li class="logos"><a href="https://www.instagram.com/zeeuwsrecht"><img class="logos" src="/img/zeeuwsrecht.jpg" alt="Logo van Zeeuws Recht: Een grafisch weergegeven, rechtopstaande leeuw met over de schouder een geheven vlag van de provincie Zeeland: vier blauwe en drie witte, golvende banen, met daarin een schild, kroon en nog een leeuw."></a></li>
    <li class="logos"><a href="https://www.instagram.com/palestine.cafe.utrecht/"><img class="logos" src="/img/palestina-cafe-utrecht.jpg" alt="Logo van Palestine Cafe Utrecht: Een donkerrode achtergrond met daarop de tekst 'Palestine Cafe Utrecht'."></a></li>
    <li class="logos"><a href="{{ relLangURL "palestina" }}"><img class="logos" src="/img/zaankanters4palestine.jpg" alt="Logo van Zaankanters voor Palestina: een gestileerde Palestijnse vlag met daarop wuivend de woorden 'Zaankanters voor Palestina'"></a></li>
    <li class="logos"><a href="https://www.instagram.com/week.4palestinenl/"><img class="logos" src="/img/week4palestinenl.jpg" alt="Logo van Week 4 Palestine NL: De tekst 'Week.4PalestineNL', met daarboven groot de letters 'W4P', samen met een aardbol en een kleurige weergave van de geografie van Palestina."></a></li>    
    <li class="logos"><a href="https://www.instagram.com/xr.justicenow/"><img class="logos" src="/img/xr-justice-now.jpg" alt="Logo van XR Justice Now!: een lijntekening van een geheven vuist, middenin een groen Extinction Rebellion-logo, te weten een schematische zandloper in een cirkel"></a></li>
</ul>

<style>
    ul.logos {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

li.logos {
  height: 40vh;
  flex-grow: 1;
}

li.logos:last-child {
  flex-grow: 10;
}

img.logos {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
</style>