<p>Je kunt de afbeelding van de bevrijdingsposter—een rode geheven vuist tegen een donkere achtergrond, met op de onderarm de tekst 'Niemand is vrij totdat Palestina vrij is'—ook hier downloaden, bijvoorbeeld om zelf te printen.</p>
<p>Download de bevrijdingsposter: <a href="/img/bevrijdingsposter.png">PNG</a> (7 MB) | <a href="/img/bevrijdingsposter.tif">TIF</a> (69,6 MB)</p>

<p><img src="/img/bevrijdingsposter.jpg" alt="Een rode geheven vuist tegen een donkergroen-zwarte achtergrond. Op de pols en onderarm staat in witte letters geschreven: 'Niemand is vrij, totdat Palestina vrij is'"></p>
