<!-- Bevrijdingstoeragenda -->
<p><i>Nieuwe locaties en tijden worden doorlopend toegevoegd.</i></p>
<h3 id="vrijdag-19-april">vrijdag 19 april</h3>
<ul>
<li>13.30 uur: Sultan Ahmet Moskee, Poelenburg, Zaandam</li>
</ul>
<h3 id="zaterdag-20-april">zaterdag 20 april</h3>
<ul>
<li>11.00 uur: AH Julianaplein, bij Zaans Medisch Centrum, Zaandam</li>
<li>12.30 uur: Winkel Köşem, Vijfhoek, Zaandam</li>
<li>14.00 uur: Gedempte gracht, Centrum, Zaandam</li>
</ul>
<h3 id="zaterdag-27-april">zaterdag 27 april</h3>
<ul>
<li>11.00 uur: Winkelcentrum Westerwatering, Zaandam</li>
<li>12.30 uur: Dam, Zaandam</li>
</ul>
<h3 id="zaterdag-4-mei">zaterdag 4 mei</h3>
<ul>
<li>11.00 uur: AH Vrieschgroenstraat, kleurenbuurt, Zaandam</li>
<li>12.30 uur: Winkelcentrum Gibraltar, Zaandam</li>
<li>14.00 uur: Gedempte gracht, Centrum, Zaandam</li>
</ul>
<h3 id="overige-data">Overige data</h3>
<p>Voor details van overige bevrijdingstoerdata:</p>
<ul>
<li><strong>Den Bosch</strong>: houd <a href="https://www.instagram.com/den.bosch4palestine/">@den.bosch4palestine</a> op Instagram in de gaten.</li>
<li><strong>Gouda</strong>: houd <a href="https://www.instagram.com/gouda4palestine/">@gouda4palestine</a> op Instagram in de gaten.</li>
<li><strong>Utrecht</strong>: houd <a href="https://www.instagram.com/palestine.cafe.utrecht/">@palestine.cafe.utrecht</a> op Instagram in de gaten.</li>
</ul>
