<!-- Liberation tour agenda -->
<p><i>New  locations and times will be added on a rolling basis.</i></p>
<h3 id="friday-19-april">Friday 19 April</h3>
<ul>
<li>1:30 pm: Sultan Ahmet Mosque, Poelenburg, Zaandam</li>
</ul>
<h3 id="saturday-20-april">Saturday 20 April</h3>
<ul>
<li>11:00 am: AH Julianaplein, near Zaans Medisch Centrum, Zaandam</li>
<li>12:30 pm: Grocery store Köşem, Vijfhoek, Zaandam</li>
<li>2:00 pm: Gedempte gracht, City centre, Zaandam</li>
</ul>
<h3 id="sunday-21-april">Sunday 21 april</h3>
<ul>
<li>3:30 pm: Palestina Cafe Utrecht, Moira Expo, Wolvenstraat 10</li>
</ul>
<h3 id="saturday-27-april">Saturday 27 April</h3>
<ul>
<li>Flexible: Gouda (for details, see: <a href="https://www.instagram.com/gouda4palestine/">@gouda4palestine</a>)</li>
<li>11:00 am: Shopping area Westerwatering, Zaandam</li>
<li><s>12:00 noon: Dam, Zaandam</s> <i>location cancelled</i></li>
<li>12:00 noon: Veldpark, Zaandam</s></li>
</ul>
<h3 id="sunday-28-april">Sunday 28 april</h3>
<ul>
<li>3:30 pm: Palestina Cafe Utrecht, Moira Expo, Wolvenstraat 10</li>
</ul>
<h3 id="saturday-4-mei">Saturday 4 May</h3>
<ul>
<li>11:00 am: AH Vrieschgroenstraat, Zaandam</li>
<li>12:30 pm: Shopping area Gibraltar, Zaandam</li>
<li>2:00 pm: Gedempte gracht, City centre, Zaandam</li>
</ul>
<h3 id="overige-data">Additional dates</h3>
<p>For details of other dates and locations:</p>
<ul>
<li><strong>Alkmaar</strong>: keep an eye on <a href="https://www.instagram.com/alkmaarvoorpalestina/">@alkmaarvoorpalestina</a> on Instagram.</li>
<li><strong>Den Bosch</strong>: keep an eye on <a href="https://www.instagram.com/den.bosch4palestine/">@den.bosch4palestine</a> on Instagram.</li>
<li><strong>Gouda</strong>: keep an eye on <a href="https://www.instagram.com/gouda4palestine/">@gouda4palestine</a> on Instagram.</li>
<li><strong>Leiden</strong>: keep an eye on <a href="https://www.instagram.com/leidenforpalestine/">@leidenforpalestine</a> on Instagram.</li>
<li><strong>Utrecht</strong>: keep an eye on <a href="https://www.instagram.com/palestine.cafe.utrecht/">@palestine.cafe.utrecht</a> on Instagram.</li>
</ul>
